*{
    margin:0px;
    padding: 0px;
}
body{
    background-color:rgb(224, 217, 217);
}
#mainpage{
   background-color:rgba(208, 240, 235, 0.1);
   display: flex;
   
}
#div1{
    margin:2px 0px 0px 15px;
    background-color: white;
    padding:15px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
/* right bar ---------------rightbar div--------------------- */
#rightbar{
    background-color: white;
    width:40%;
    height:700px;
    margin:2px 15px;
    border-radius: 10px;
    padding:2px 10px;
}

#anchor1{
    color:black;

}
ul>li{
    
    list-style-type: none;
    padding:2px;
    padding-left: 15px;
    
}
.anchor{
    text-decoration: none;
    
    font-size: 18px;

}

.anchor:hover{
    color:black;
    
}

